{% extends 'base.html.twig' %}

{% block title %}Welcome @ PiB'S!{% endblock %}

{% block body %}

<div class="container">
        <h1 class="blink_text"style="padding-top : 50px; color: white; text-align: left;">Work in Progress</h1>
        <div style="height: 800px"></div>
</div>



{% endblock %}