{% extends "base.html.twig" %}

{% block title %}Welcome @ PiB'S!{% endblock %}

{% block body %}

<div class="bgimg-1">
  <div class="caption">
  <span class="border">@ PiB's</span>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">LE MOINS DU PLUS</h3>
  <p>Sans autre ambition que celle de partager ce qui me fait, ces quelques pages se veulent un aperçu numérique de mes passions, 
  de mon parcours et de quelques-unes de mes observations. C'est avant tout l'aboutissement de longues heures d'apprentissage du code informatique,
  un univers passionnant de logique et de concepts. 
  Je rêve ce site comme un moi exposé à tous, je le veux propre, complet et fidèle, ouvert et maîtrisé. 
  Je vous souhaite autant de plaisir à le parcourir que j'en ai à le construire.</p>
</div>

<div class="bgimg-2">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">OSER LES CHEMINS DE TRAVERSE</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>La ligne droite est une exception.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">S'IMMERGER</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>Là où l'observateur voit un courant, le plongeur se fige dans le mouvement.</p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
  <span class="border">GARDER LA LIGNE DE FLOTTAISON</span>
  </div>
</div>



{% endblock %}