 <td>
    {% for role in user.roles %}
        {% if role == "ROLE_ADMIN" %} Administrator
        {% elseif role== "ROLE_PREMIUM" %} Premium
        {% elseif role== "ROLE_USER" %} User
        {% endif %}
    {% endfor %}
</td>